{% load staticfiles %}





<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>




  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static "css/special.css" %}"/>
  <!--navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <a href="{% url 'base' %}" class="navbar-brand">Hakunamatata</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a href="{% url 'base' %}" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
              </li>
              <li class="nav-item active">
                <a href="{%  url 'services:list'   %}" class="nav-link">Services</a>
              </li>
            <li class="nav-item active">
                <a href="{% url 'Hakunamatata:register' %}" class="nav-link">Register</a>
              </li>


              <!-- Some logic on what to display for log in and log out -->
      {% if user.is_authenticated %}

       <li class="nav-item active">
         <a href="{% url 'logout'  %}" class="nav-link">Logout</a>
       </li>



       {% else %}

       <li class="nav-item active">
         <a href="{%  url 'Hakunamatata:user_login'   %}" class="nav-link">Login</a>
       </li>



       {% endif %}

       <li class="nav-item active">
         <a href="{% url 'Hakunamatata:contactform' %}" class="nav-link">Contact us</a>
       </li>

       <!--below code is for update items in cart icon in navbar -->
              <li class="nav-item active">
                <a href="{{ cart_url }}" class="nav-link">cart  {{ request.session.cart_total }}</a>
              </li>
<!--{{ request.session.cart_total }} this is count the item in cart show into navbar how many are in cart in number form -->





            </ul>
          </div>
        </div>







      </nav>
      <div class = "container">

{% if not billing_profile %}


<div class ="jumbotron">
<h1>Please login first</h1>
</div>


{% else %}







<h1> Checkout </h1>
<p> Cart total :{{ object.cart.total }}</p>
<p> Order total :{{object.cart.total}}</p>

<div>
  {% include 'addresses/form.html' with form=address_form  %}
</div>







{% endif %}

</div>
</body>
</html>
