{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- using this for add to cart icon will come on the navbar -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />




  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static "css/special.css" %}"/>
  <!--navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <a href="{% url 'base' %}" class="navbar-brand">Hakunamatata</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a href="{% url 'base' %}" class="nav-link">Home</a>
              </li>
              <li class="nav-item active">
                <a href="{% url 'about' %}" class="nav-link">About Us</a>
              </li>
              <li class="nav-item active">
                <a href="{%  url 'services:list'   %}" class="nav-link">Services</a>
              </li>
            <li class="nav-item active">
                <a href="{% url 'Hakunamatata:register' %}" class="nav-link">Register</a>
              </li>


              <!-- Some logic on what to display for log in and log out -->
      {% if user.is_authenticated %}

       <li class="nav-item active">
         <a href="{% url 'logout'  %}" class="nav-link">Logout</a>
       </li>



       {% else %}

       <li class="nav-item active">
         <a href="{%  url 'Hakunamatata:user_login'   %}" class="nav-link">Login</a>
       </li>



       {% endif %}

       <li class="nav-item active">
         <a href="{% url 'Hakunamatata:contactform' %}" class="nav-link">Contact us</a>
       </li>

       <!--below code is for update items in cart icon in navbar -->
              <li class="nav-item active">
                <a href="{{ cart_url }}" class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ request.session.cart_total }}</a>
              </li>
       <!--{{ request.session.cart_total }} this is count the item in cart show into navbar how many are in cart in number form -->




            </ul>
          </div>
        </div>







      </nav>
<!--<div class="container">
  <div class="jumbotron">

    {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}</h1>
    {% else %}
        <h2>here our services details!</h2>
    {% endif %}
  </div>
</div> -->


<div class ="container">
<div class='row'>
        <div class='col-12 col-md-6'>
                <h1>{{ object.title }}</h1>

                <!--{{ object.timestamp|timesince }} ago
                <!--timestamp give info abour time when any item added or deleted in website output -->

            {% if object.image %}
            <img src='{{ object.image.url }}' class='img-fluid' />
            {% endif %}
             {{object.description}}
             <br>
             {{object.Opening_time}}
   </div>
      <div class='col-12 col-md-6'>
        {% include 'services/snippets/update-cart.html' with services=object cart=cart %}
      <!-- we want services as well as cart -->



      </div>

   </div>
<div>
